
<%= form_for(invoice, html: {class: "edit-invoice-form"}) do |f| %>
  <% if invoice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

      <ul>
      <% invoice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :due %>
    <%= f.date_select :due %>
  </div>

  <div class="field">
    <%= f.label :client_id %>
    <%= select("invoice", "client_id", Client.all.collect {|c| [ c.name, c.id ] }, { include_blank: true }) %>
    <%= link_to "Add Client", new_client_path %>
  </div>

  <div class="field">
    <%= f.label :message %>
    <%= f.text_area :message %>
  </div>

  <div class="field">
    <%= f.label :status %>
    <%= f.check_box :status %>
  </div>
  <div id="lines">
  <%= f.fields_for :lines do |line| %>

  <%= render 'line_fields', f: line %>
  <% end %>
  </div>
  <div class="links">
    <%= link_to_add_association 'add line', f, :lines %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>
